<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.benlerner.perfectshuffle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PerfectShuffle"
            android:label="@string/title_activity_perfect_shuffle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Playlist"
            android:label="@string/title_activity_song_player" 
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
        </activity>
    </application>

</manifest>